<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>NEXUS-VPROFILE-REPO-SNAP</id>
      <username>admin</username>
      <password>password</password>
    </server>
    <server>
      <id>NEXUS-VPROFILE-REPO-RELEASE</id>
      <username>admin</username>
      <password>password</password>
    </server>
        <server>
        <id>NEXUS-VPROFILE-REPO-MIXED</id>
      <username>admin</username>
      <password>password</password>
    </server>
    <server>
        <id>NEXUS-VPROFILE-REPO-RELEASE</id>
      <username>admin</username>
      <password>password</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>NEXUS-VPROFILE-REPO-MIXED</id>
      <name>NEXUS-VPROFILE-REPO-MIXED</name>
      <url>http://13.232.230.135:8081/repository/NEXUS-VPROFILE-REPO-MIXED/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
